.alert {
  display: flex;

  font-size: 90%;

  padding: 18px;
  margin-bottom: 24px;

  border-style: solid;
  border-width: 1px 1px 1px 3px;
  border-radius: $block-border-radius;

  .alert-icon {
    flex-grow: 0;     // the item will NOT grow to fill extra space
    flex-shrink: 0;   // the item will NOT shrink if space is tight
    flex-basis: auto; // the item's size is based on its content or width/height properties

    margin-right: 14px;
  }

  .alert-content {
    flex: 1; // file the remaining space

    & > p:first-child {
      margin-top: 0;
    }
    & > p:last-child {
      margin-bottom: 0;
    }
  }
}

@mixin alert-level($icon, $border, $background) {
  background: $background;
  border-color: $border;

  .alert-icon {
    color: $icon;
  }
}

/*
 * Warning
 */
.alert-warning {
  @include alert-level(rgb(250, 153, 56), #fdeac6, #fffdf5);
}

/*
 * Note
 */
.alert-note {
  @include alert-level(#1eabea, #c9ebfb, #f7fcff);
}

/*
 * Tip
 */
.alert-tip {
  $base-color: #5a5;
  @include alert-level($base-color, lighten($base-color, 30%), lighten($base-color, 47%));
}
